<div class="row" style="margin-top: 5px;">
  <div class="col-md-12 text-right">
    {% if loggedin %}
      ({{username}}) <button type="button" class="btn btn-danger btn-xs" onclick="logout()">Log Out</button>
      {% if username == 'admin' %}
      <button type="button" class="btn btn-warning btn-xs" onclick='window.location.href="/admin/access"'>Admin Access</button>
      <button type="button" class="btn btn-info btn-xs" onclick='window.location.href="/admin/initialize"'>Initialize</button>
      {% else %}
       <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#games-modal">My Games</button>
       {% endif %}
    {% else %}
      <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#login-modal">Log In</button>
      <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
    {% endif %}
    <button class="btn btn-link btn-xs" onclick="window.location='/'">
      <span class="glyphicon glyphicon-home"></span>
    </button>
  </div>
</div>



{% if username != 'admin' %}
<!-- Games Modal -->
<div id="games-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">My Games</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <th>Game Join Code</th>
            <th>Date Created</th>
            <th>Players</th>
            <th></th>
          </tr>
        {% for g in games %}
          <tr id="{{g.get_code()}}-row">
            <td><a href="/game/{{g.get_code()}}">{{g.get_code()}}</a></td>
            <td>{{g.date}}</td>
            <td id="game-{{g.get_code()}}"></td>
            <script>
              document.getElementById('game-{{g.get_code()}}').innerHTML = Object.keys({{g.players|safe}}).length;;
            </script>
            <td>
              <div class="text-right">
                <button class="btn btn-link btn-xs" onclick="delete_game('{{g.get_code()}}')">
                  <span class="glyphicon glyphicon-trash text-danger"></span>
                </button>
              </div>
            </td>
          </tr>
        {% endfor %}
        </table>
        <br><br>
        <button class="btn btn-primary" onclick="new_game()">New Game</button>
      </div>
    </div>
  </div>
</div>

{% endif %}


<!-- Login Modal -->
<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <p>Enter your account login information.</p>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input id="login-username" class="form-control" placeholder="username"/>
        </div>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="login-password" type="password" class="form-control" placeholder="password"/>
        </div>
        <br>
        <p id="login-error" style="color:red;">&nbsp;</p>
        <button class="btn btn-primary center-block" onclick="login()">Log In</button>
      </div>
    </div>
  </div>
</div>

<!-- signup Modal -->
<div id="signup-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <p>Create your account.</p>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input id="signup-username" class="form-control" placeholder="username"/>
        </div>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="signup-password" type="password" class="form-control" placeholder="password"/>
        </div>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="signup-confirm-password" type="password" class="form-control" placeholder="confirm password"/>
        </div>
        <br>
        <p id="signup-error" style="color:red;">&nbsp;</p>
        <button class="btn btn-primary center-block" onclick="signup()">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<script>

  function isAlphaNumeric(str) {
    var code, i, len;

    for (i = 0, len = str.length; i < len; i++) {
      code = str.charCodeAt(i);
      if (!(code > 47 && code < 58) && // numeric (0-9)
          !(code > 64 && code < 91) && // upper alpha (A-Z)
          !(code > 96 && code < 123)) { // lower alpha (a-z)
        return false;
      }
    }
    return true;
  };


  function signup() {
    const username = document.getElementById('signup-username').value;
    const password = document.getElementById('signup-password').value;
    const confirm_password = document.getElementById('signup-confirm-password').value;
    if (!isAlphaNumeric(username)) {
      document.getElementById('signup-error').innerHTML = 'username must contain only alphanumeric characters';
    } else if (password != confirm_password) {
      document.getElementById('signup-error').innerHTML = 'passwords do not match';
    } else {
      document.getElementById('signup-error').innerHTML = '&nbsp;';
      $.ajax({
        url: '/signup',
        data: {
          'username':username,
          'password':password
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'true') {
            login_helper(username, password);
          } else {
            document.getElementById('signup-error').innerHTML = response.error;
          }
        },
        error: function(error) {
          document.getElementById('signup-error').innerHTML = error.statusText;
          console.log(error.statusText);
        },
      });
    }
  }

  function login() {
    const username = document.getElementById('login-username').value;
    const password = document.getElementById('login-password').value;
    login_helper(username, password);
  }

  function login_helper(username, password) {
    $.ajax({
      url: '/login',
      data: {
        'username':username,
        'password':password
      },
      type: 'POST',
      cache: false,
      success: function(response) {
        if (response.success == 'true') {
          location.reload(true);
        } else {
          document.getElementById('login-error').innerHTML = response.error;
        }
      },
      error: function(error) {
        document.getElementById('login-error').innerHTML = error.statusText;
        console.log(error.statusText);
      },
    });
  }

  function logout() {
    $.ajax({
      url: '/logout',
      data: {},
      type: 'POST',
      cache: false,
      success: function(response) {
        if (response.success == 'true') {
          location.reload(true);
        } else {
          console.log(response.error);
        }
      },
      error: function(error) {
        console.log(error.statusText);
      },
    });
  }

  function new_game() {
    $.ajax({
      url: '/new_game',
      data: {},
      type: 'POST',
      cache: false,
      success: function(response) {
        if (response.success == 'true') {
          window.location.href = '/game/' + response.code;
        } else {
          console.log(response.error);
        }
      },
      error: function(error) {
        console.log(error.statusText);
      },
    });
  }

  function delete_game(code) {
    $.ajax({
      url: '/host_access/delete_game',
      data: {'code':code},
      type: 'POST',
      cache: false,
      success: function(response) {
        document.getElementById(code + '-row').remove();
        if (window.location.href.endsWith(code)) {
          window.location.href = '/';
        }
      },
      error: function(error) {
        console.log(error.statusText);
      },
    });
  }

</script>
