<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bingo | Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="static/img/leaf.gif" type="image/gif">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- datatables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

  <style>
    *[light="0"] { background-color:white; color:black}
    *[light="1"] { background-color:grey; color:white}

    .B{background-color:red; color:white}
    .I{background-color:orange; color:white}
    .N{background-color:green; color:white}
    .G{background-color:blue; color:white}
    .O{background-color:purple; color:white}

    .board td {
      padding: 0px 1px !important;
      border: 1px solid black;
      font-size: 6pt;
    }

    .badge:hover {
      cursor: pointer;
    }
    .badge:focus {
      outline: none;
    }

  </style>
</head>
<body>

  {{ account_bar|safe }}

  <div class="container">

  </div>

  <div class="container-fluid" style="margin-bottom: 100px;">

    <div class="row">
      <div class="col-lg-12">

        <h1>Admin Access</h1>
        <h3>Games</h3>
        <table class="table" id="master_table_games">
          <thead>
            <tr>
              <th>ID</th>
              <th>Code</th>
              <th>Open</th>
              <th>Host</th>
              <th>Date</th>
              <th>Board</th>
              <th>Last</th>
              <th>Players</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for g in all_games %}
              <tr>
                <td> {{ g.id }} </td>
                <td> <a href="/game/{{g.get_code()}}" target="_blank">{{ g.get_code() }}</a></td>
                <td> {{ g.open }} </td>
                <td> {{ g.host }} </td>
                <td> {{ g.date }} </td>
                <td>
                  <table class="board text-center">
                  {% for r in [0,1,2,3,4] %}
                    <tr>
                      <td class="{{ 'BINGO'[r] }}">{{ 'BINGO'[r] }}</td>
                        {% for c in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] %}
                          <td light="{{ g.board[r * 15 + c] }}">{{ r * 15 + c + 1 }}</td>
                        {% endfor %}
                    </tr>
                  {% endfor %}
                  </table>
                </td>
                <td> {{ g.last|safe }} </td>
                <td id="{{ g.get_code() }}-players">
                  {% for p in g.get_players() %}
                    <span class="badge" data-toggle='popover' data-placement='top' data-trigger='hover' data-html='true' data-content="{% for cardID in g.get_players()[p] %}{{cardID}}{% if cardID != g.get_players()[p][-1] %},<br> {% endif %}{% endfor %}" onclick='window.open("/cards/{% for cardID in g.get_players()[p] %}{{cardID}}{% if cardID != g.get_players()[p][-1] %},{% endif %}{% endfor %}","_blank")'>{{p}}</span>
                  {% endfor %}

                </td>
                <td style="width:1em">
                  <a class="btn btn-link" onclick="delete_game('{{g.get_code()}}')">
                    <span class="glyphicon glyphicon-trash text-danger"></span>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <br><br>
        <h3>Users</h3>
        <table class="table" id="master_table_users">
          <thead>
            <tr>
              <th>ID</th>
              <th>username</th>
              <th>salt</th>
              <th>hashed_password</th>
              <th>Games</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for u in all_users %}
            {% if u.username != 'admin' %}
              <tr>
                <td> {{ u.id }} </td>
                <td> {{ u.username }} </td>
                <td> {{ u.salt }} </td>
                <td> {{ u.hashed_password }} </td>
                <td id="{{u.username}}-games"></td>
                <script>
                   if ("{{ u.games }}" != "") {
                     var games = "{{ u.games }}".split(',');
                     for (var i = 0; i < games.length; i++) {
                       var a = document.createElement('a');
                       a.href = '/game/' + games[i];
                       a.setAttribute('target', '_blank');
                       document.getElementById('{{u.username}}-games').appendChild(a);
                       a.innerHTML = games[i];
                       if (i < games.length - 1) {
                         document.getElementById('{{u.username}}-games').appendChild(document.createTextNode(', '));
                       }
                     }
                   }
                </script>
                <td style="width:1em">
                  <a class="btn btn-link" onclick="delete_user('{{u.username}}')">
                    <span class="glyphicon glyphicon-trash text-danger"></span>
                  </a>
                </td>
              </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



</body>



<script>
  $(document).ready( function () {
    $('#master_table_games').DataTable({
      "columnDefs": [ {
        "targets": [8],
        "orderable": false,
      } ],
      "order": [[ 0, 'asc' ]],
      "bPaginate":false
    });
    $('#master_table_users').DataTable({
      "columnDefs": [ {
        "targets": 5,
        "orderable": false,
      } ],
      "order": [[ 0, 'asc' ]],
      "bPaginate":false
    });
    $('[data-toggle="popover"]').popover();
  });



  function delete_game(code) {
    $.ajax({
      url: '/host_access/delete_game',
      data: {'code':code},
      type: 'POST',
      cache: false,
      success: function(response) {
        location.reload(true);
      },
      error: function(error) {
        console.log(error.statusText);
      },
    });
  }

  function delete_user(username) {
    $.ajax({
      url: '/admin/delete_user',
      data: {'username':username},
      type: 'POST',
      cache: false,
      success: function(response) {
        location.reload(true);
      },
      error: function(error) {
        console.log(error.statusText);
      },
    });
  }



</script>

</html>
