<table id="{{ cardID }}" style="margin:auto">
  <thead>
    <tr>
      <th><div class="square" id="B"><h2 class="text-center">B</h2></div></th>
      <th><div class="square" id="I"><h2 class="text-center">I</h2></div></th>
      <th><div class="square" id="N"><h2 class="text-center">N</h2></div></th>
      <th><div class="square" id="G"><h2 class="text-center">G</h2></div></th>
      <th><div class="square" id="O"><h2 class="text-center">O</h2></div></th>
    </tr>
  </thead>
  <tbody>
    {% for row in [0,1,2,3,4] %}
    <tr>
      {% for col in [0,1,2,3,4] %}
      <td>
        {% if row == 2 and col == 2 %}
        <div id="{{cardID}}-{{row}}-{{col}}" class="square click-square" value="1">
          <h2 class="text-center">
            <p class="free-space text-center">free<br>space</p>
          </h2>
        </div>
        {% else %}
        <div id="{{cardID}}-{{row}}-{{col}}" class="square click-square" onclick="this.setAttribute('value',1 - Number(this.getAttribute('value')))" value="0">
          <h2 class="text-center">{{ cardArray[row][col] }}</h2>
        </div>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<p class="text-center" style="color:grey; margin-top:5px;"><strong>Card ID:</strong> {{cardID}}</p>
<div class="text-center noprint">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary btn-sm"
            onclick="document.getElementById('confirm-{{cardID}}').disabled = false;">
      Clear
    </button>
    <button id="confirm-{{ cardID }}" type="button" class="btn btn-danger btn-sm" disabled="true"
            onclick="for(r=0;r<5;r++){for(c=0;c<5;c++){if(r!=2||c!=2){document.getElementById('{{cardID}}-'+r+'-'+c).setAttribute('value','0');}}}this.disabled=true;">
      Confirm Clear
    </button>
  </div>
</div>
