<!DOCTYPE html>
<html lang="en">
  <head>
    <link href={{ url_for('static', filename='favicon.ico') }} rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">

    <!-- do not cache this page -->
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <title>
      Bingo | Game
    </title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400&display=swap" rel="stylesheet">
    <style>
      body {
        min-width: 360px;
        background-color: white;
      }

      * {
        font-family: 'Ubuntu', sans-serif;
      }
      .square {
        width:5vw;
        height:5vw;
        border: 1px solid #000;
      }

      .square h2 {
        margin-top:1vw;
        font-size: 3vw;
        user-select: none;
      }

      .clickable:hover, a {
        cursor: pointer;
      }

      *[light="0"] { background-color:white; color:black}
      *[light="1"] { background-color:grey; color:white}

      .B{background-color:red; color:white}
      .I{background-color:orange; color:white}
      .N{background-color:green; color:white}
      .G{background-color:blue; color:white}
      .O{background-color:purple; color:white}

      br {
        user-select: none;
      }

      .badge:hover {
        cursor: pointer;
      }

      /* switch */
      .material-switch > input[type="checkbox"] {
        display: none;
      }

      .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
      }

      .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position:absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
      }

      .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
      }

      .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
      }

      .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
      }

    </style>
  </head>
  <body>

    <div class="container">

      <!-- account bar -->
      {{ account_bar|safe }}

      <!-- Game code title -->
      <div class="row" style="margin-bottom: 30px">
        <div class="col-md-12">
          <h1>
            Game: {{ code }}
            <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#shareModal">
              Share <span class="glyphicon glyphicon-share"></span>
            </button>
          </h1>
        </div>
      </div>

      <!-- share modal -->
      <div id="shareModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Share Game</h4>
            </div>
            <div class="modal-body">
              Players can join at
              <div class="input-group" style="margin-top:10px;">
                <input id="join-link" class="form-control" onclick="this.select();" readonly></input>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" onclick="copy_link('join-link')">
                    <span class="glyphicon glyphicon-copy"></span>
                  </button>
                </span>
              </div>
              <br>
              Players can watch the board at
              <div class="input-group" style="margin-top:10px;">
                <input id="game-link" class="form-control" onclick="this.select();" readonly></input>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" onclick="copy_link('game-link')">
                    <span class="glyphicon glyphicon-copy"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        document.getElementById('join-link').value = window.location.origin + "/play/{{code}}";
        document.getElementById('game-link').value = window.location.href;

        function copy_link(id) {
          document.getElementById(id).select();
          document.execCommand("copy");
        }
      </script>

    </div>

    <div class="container-fluid">

      <!-- Grid -->
      <div class="row">
        <div class="col-md-12">
          <table id="grid" style="margin:auto">
            <tr id="B-row">
              <td><div class="square B"><h2 class="text-center">B</h2></div></td>
            </tr>
            <tr id="I-row">
              <td><div class="square I"><h2 class="text-center">I</h2></div></td>
            </tr>
            <tr id="N-row">
              <td><div class="square N"><h2 class="text-center">N</h2></div></td>
            </tr>
            <tr id="G-row">
              <td><div class="square G"><h2 class="text-center">G</h2></div></td>
            </tr>
            <tr id="O-row">
              <td><div class="square O"><h2 class="text-center">O</h2></div></td>
            </tr>
          </table>
          <script>
            // build board
            const LETTERS = ["B", "I", "N", "G", "O"];
            for (var r = 0; r < LETTERS.length; r++) {
              for (var i = 0; i < 15; i++) {
                const td = document.createElement('td');
                const div = document.createElement('div');
                const h2 = document.createElement('h2');
                const num = r * 15 + 1 + i;
                div.classList.add('square');
                {% if mode != 'player' %}
                div.classList.add('clickable');
                {% endif %}
                div.setAttribute('id', num);
                div.setAttribute('light', 0);
                h2.classList.add('text-center');
                h2.appendChild(document.createTextNode(num));
                div.appendChild(h2);
                td.appendChild(div);
                {% if mode == 'host' %}
                  td.onclick = function() {flip_square(num);};
                {% endif %}
                document.getElementById(LETTERS[r] + '-row').appendChild(td);
              }
            }
          </script>
        </div>
      </div>

      <!-- last -->
      <div class="row">
        <div class="col-md-12">
          <h1 id="last" style="font-size:100pt" class="text-center">&nbsp;</h1>
        </div>
      </div>

    </div>

    {% if mode == "host" %}

    <div class="container">
      <!-- board buttons -->
      <div class="row">
        <div class="col-sm-3"></div>
        <!-- draw -->
        <div class="col-sm-3">
          <button type="button" class="btn btn-default btn-lg btn-block" id="draw" onclick="draw()">
              Draw
          </button>
        </div>
        <!-- reset -->
        <div class="col-sm-3">
          <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#resetModal">
            Reset
          </button>
        </div>
        <div class="col-sm-3"></div>
      </div>

      <!-- Reset modal -->
      <div id="resetModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Reset Confirmation</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to reset the board?
              <br><br>
              <button type="button" class="btn btn-danger center-block" onclick="reset_board(); $('#resetModal').modal('hide')" width="50%">
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Player info -->

      <br><br><br>
      <div class="row">
        <div class="col-sm-4">
          <div class="material-switch">
            <input id="allow-join" name="allow-join" type="checkbox" onchange='set_open(this.checked ? "1" : "0")' {% if open %} checked {% endif %}/>

            <label for="allow-join" class="label-info"></label>
            <p id="game-state" style="user-select: none">Game {% if open %} open {% else %} closed {% endif %}</p>
          </div>
        </div>
        <div class="col-md-8 text-right" style="margin-top: 20px;">
          <div class="input-group" style="width: 110px; display: inline-table;">
            <input id="num-cards" class="form-control" placeholder="Number of Cards" value="1" style="margin-bottom:-13.25px"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-block btn-primary center-block" onclick="deal()">Deal</button>
            </span>
          </div>
          <button class="btn btn-warning" onclick="clear_cards()">Clear</button>
          <button class="btn btn-danger" onclick="remove_players()">Remove</button>
          <button class="btn btn-success" onclick="check_for_bingo()">Check</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table">
            <thead>
              <tr>
                <th>Player</th>
                <th>Cards</th>
                <th class="text-right" style="min-width: 125px">
                  <label style="user-select: none">
                    Select All <input id="select-all" type="checkbox" style="margin-left: 10px;" onclick="const cbs=document.getElementsByName('player');for(var i = 0; i < cbs.length;i++){cbs[i].checked=this.checked;}"></input>
                  </label>
                </th>
              </tr>
            </thead>
            <tbody id="players"></tbody>
          </table>
        </div>
      </div>

      <!-- bingo check modall -->
      <div id="bingoCheckModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Bingo Check</h4>
            </div>
            <div class="modal-body">
              <ul class="list-group" id="check-bingo-list"></ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    {% endif %}




    <script>

      var left = [];

      var saved_last = '';
      var saved_board_string = '';

      function update_board_display(board_string) {
        saved_board_string = board_string;
        const string_board_array = board_string.split('');
        left = [];
        for (var i = 0; i < 75; i++) {
          if (string_board_array[i] == '0') {
            left.push(i + 1);
          }
          document.getElementById(i + 1).setAttribute('light',string_board_array[i]);
        }
        document.getElementById('draw').disabled = left.length == 0;
      }

      function update_board() {
        $.ajax({
          url: '/board_access',
          data: {'code':'{{ code }}'},
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              if (response.last != saved_last) {
                saved_last = response.last;
                document.getElementById('last').innerHTML = response.last;
              }
              if (response.board != saved_board_string) {
                update_board_display(response.board);
              }
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }

    </script>

    {% if mode == "player" %}

    <script>
      update_board();
      setInterval(function() {
        update_board();
      }, 2000);
    </script>

    {% else %}

    <!-- square handling -->
    <script>
      function flip_square(num) {
        left = left.filter(function(ele) {
            return ele != num;
        });
        $.ajax({
          url: '/host_access/flip_square',
          data: {
            'code':'{{ code }}',
            'num':num
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              update_players();
            } else {
              console.log(response.error);
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      document.body.onkeyup = function(e){
        if (left.length != 0 && e.keyCode === 68) {
            draw();
        }
      }

      function draw() {
        const r = Math.floor(Math.random() * left.length);
        flip_square(left[r]);
        if (left.length == 0) {
          document.getElementById('draw').disabled = true;
        }
      }

      function reset_board() {
        $.ajax({
          url: '/host_access/reset_board',
          data: {'code':'{{ code }}'},
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              update_players();
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }
    </script>

    <!-- players -->
    <script>
      var saved_player_dict_string = '';

      const players = document.getElementById('players');

      function get_checked_players(bool) {
        const cbs = document.getElementsByName('player');
        var players = [];
        for (var i = 0; i < cbs.length; i++) {
          if (cbs[i].checked || bool) {
            players.push(cbs[i].value);
          }
        }
        return players;
      }

      function get_table(grid) {
        grid[2][2] = "FS";
        var html = "<table class='text-center table table-bordered' style='margin: 0px;'>";
        html += "<tr><td class='B'>B</td><td class='I'>I</td><td class='N'>N</td><td class='G'>G</td><td class='O'>O</td></tr>"
        for (var r = 0; r < grid.length; r++) {
          html += "<tr>";
          for (var c = 0; c < grid[r].length; c++) {
            html += "<td light='" + ((r == 2 && c == 2) || saved_board_string[grid[r][c] - 1] == '1' ? 1 : 0) + "'>" + grid[r][c] + "</td>";
          }
          html += "</tr>";
        }
        html += "</table>";
        return html;
      }

      function get_popover_content(grid, cardID) {
        return get_table(grid)
          + "<div style='margin-top: 10px;' class='row'>"
            + "<div class='col-xs-6'>"
              + "<button class='btn btn-link btn-xs' onclick='delete_card(" + '"' + cardID + '"' + ")'>"
                + "<span class='glyphicon glyphicon-trash text-danger'></span>"
              + "</button>"
            + "</div>"
            + "<div class='col-xs-6 text-right'>"
              + "<button class='btn btn-link btn-xs' onclick='window.open(" + '"/cards/' + cardID + '", ' + '"_blank")' + "'>"
                + "<span class='glyphicon glyphicon-share text-primary'></span>"
              + "</button>"
            + "</div>"
          + "</div>";
      }

      function update_player_display(player_dict) {
        saved_player_dict_string = JSON.stringify(player_dict);
        document.getElementById('select-all').checked = false;
        while (players.firstChild) {
          players.removeChild(players.firstChild);
        }
        for (var player in player_dict) {
          const tr = document.createElement('tr');
          const player_name_col = document.createElement('td');
          const cards_col = document.createElement('td');
          const button_col = document.createElement('td');
          player_name_col.appendChild(document.createTextNode(player));
          for (var i = 0; i < player_dict[player].length; i++) {
            const cardID = player_dict[player][i][0];
            const grid = player_dict[player][i][1];
            const badge = document.createElement('span');
            badge.classList.add('badge');
            // badge.onclick = function(){ window.open("/cards/" + cardID, '_blank')};
            badge.style.userSelect = 'none';
            badge.appendChild(document.createTextNode(cardID));
            badge.setAttribute('data-toggle','popover');
            badge.setAttribute('data-placement','top');
            badge.setAttribute('data-trigger','focus');
            badge.setAttribute('tabindex','0');
            badge.setAttribute('data-html','true');
            badge.setAttribute('data-content',get_popover_content(grid, cardID));
            cards_col.appendChild(badge);
            cards_col.appendChild(document.createTextNode(" "));
          }
          button_col.classList = "text-right";
          const input = document.createElement('input');
          input.name = "player";
          input.value = player;
          input.type = "checkbox";
          button_col.appendChild(input);
          tr.appendChild(player_name_col);
          tr.appendChild(cards_col);
          tr.appendChild(button_col);
          players.appendChild(tr);
        }
        $('[data-toggle="popover"]').popover();
      }

      function update_players() {
        $.ajax({
          url: '/host_access/get_players',
          data: {'code':'{{ code }}'},
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              if (response.last != saved_last) {
                saved_last = response.last;
                document.getElementById('last').innerHTML = response.last;
              }
              if (response.board != saved_board_string) {
                update_board_display(response.board);
                update_player_display(response.player_dict);
              } else if (saved_player_dict_string != JSON.stringify(response.player_dict)) {
                update_player_display(response.player_dict);
              }
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }


      function delete_card(cardID) {
        $.ajax({
          url: '/host_access/delete_card',
          data: {
            'cardID':cardID,
            'code':'{{ code }}',
          },
          async:true,
          type: 'POST',
          cache: false,
          success: function(response) {
            update_players();
          },
          error: function(error){
            console.log(error);
          }
        });
      }


      function clear_cards() {
        const cps = get_checked_players();
        if (cps.length != 0) {
          $.ajax({
            url: '/host_access/clear_cards',
            data: {
              'code':'{{ code }}',
              'players':cps.join(",")
            },
            async:true,
            type: 'POST',
            cache: false,
            success: function(response) {
              update_players();
            },
            error: function(error){
              console.log(error);
            }
          });
        }
      }


      function remove_players() {
        const cps = get_checked_players();
        if (cps.length != 0) {
          $.ajax({
            url: '/host_access/remove_players',
            data: {
              'code':'{{ code }}',
              'players':cps.join(",")
            },
            async:true,
            type: 'POST',
            cache: false,
            success: function(response) {
              update_players();
            },
            error: function(error){
              console.log(error);
            }
          });
        }
      }

      function deal() {
        const cps = get_checked_players();
        if (cps.length != 0) {
          $.ajax({
            url: '/host_access/deal',
            data: {
              'code':'{{ code }}',
              'num_cards':document.getElementById('num-cards').value,
              'players':cps.join(',')
            },
            type: 'POST',
            cache: false,
            success: function(response) {
              update_players();
            },
            error: function(error){
              console.log(error);
            }
          });
        }
      }

      function check_for_bingo() {
        const cps = get_checked_players();
        if (cps.length != 0) {
          $.ajax({
            url: '/host_access/check_for_bingo',
            data: {
              'code':'{{ code }}',
              'players':cps.join(",")
            },
            async:true,
            type: 'POST',
            cache: false,
            success: function(response) {
              const ul = document.getElementById('check-bingo-list');
              while (ul.firstChild) {
                ul.removeChild(ul.firstChild);
              }
              var empty = true;
              for (var player in response.bingo_dict) {
                empty = false;
                const li = document.createElement('li');
                li.classList.add('list-group-item');
                li.appendChild(document.createTextNode(player));
                for (var i = 0; i < response.bingo_dict[player].length; i++) {
                  const cardID = response.bingo_dict[player][i][0];
                  const types = response.bingo_dict[player][i][1];
                  const span = document.createElement('span');
                  span.setAttribute('data-toggle','tooltip');
                  span.setAttribute('title',types.join(', '));
                  span.classList.add('badge');
                  span.appendChild(document.createTextNode(cardID));
                  li.appendChild(span);
                }
                ul.appendChild(li);
              }
              if (empty) {
                ul.appendChild(document.createTextNode('No BINGO found!'));
              }
              $("#bingoCheckModal").modal();
              $('[data-toggle="tooltip"]').tooltip();
            },
            error: function(error){
              console.log(error);
            }
          });
        }
      }

      function set_open(open) {
        $.ajax({
          url: '/host_access/set_open',
          data: {
            'code':'{{ code }}',
            'open':open
          },
          async:true,
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              document.getElementById('game-state').innerHTML = "Game " + (response.open == 'true' ? "open" : "closed");
            }
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      update_players();
      setInterval(update_players,2000);

    </script>

    {% endif %}




    <br><br><br><br>
    <br><br><br><br>
  </body>
</html>
