<!DOCTYPE html>
<html lang="en">
  <head>
    <link href={{ url_for('static', filename='favicon.ico') }} rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">

    <!-- do not cache this page -->
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <title>
      Bingo Caller
    </title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400&display=swap" rel="stylesheet">
    <style>
      body {
        background-color: white;
      }

      * {
        font-family: 'Ubuntu', sans-serif;
      }

      span {
        font-style: inherit;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
      }

      .square {
        width:5vw;
        height:5vw;
        border: 1px solid #000;
      }

      .square h2 {
        margin-top:1vw;
        font-size: 3vw;
        user-select: none;
      }

      .clickable:hover, a {
        cursor: pointer;
      }

      .square[value="0"] { background-color:white; color:black}
      .square[value="1"] { background-color:grey; color:white}

      #B{background-color:red; color:white}
      #I{background-color:orange; color:white}
      #N{background-color:green; color:white}
      #G{background-color:blue; color:white}
      #O{background-color:purple; color:white}

      br {
        user-select: none;
      }

    </style>
  </head>
  <body>
    <div class="container">

      <!-- account bar -->
      {{ account_bar|safe }}

      <!-- Game code title -->
      <div class="row" style="margin-bottom: 30px">
        <div class="col-md-12">
          <h1>
            Game: {{ code }}
            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#shareModal">
              Share <span class="glyphicon glyphicon-share"></span>
            </button>
          </h1>
        </div>
      </div>

      <!-- share modal -->
      <div id="shareModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Share Game</h4>
            </div>
            <div class="modal-body">
              Players can join at
              <input class="form-control" value="/join/{{code}}" style="margin-top:10px;"
                     onclick="this.select();" readonly></input>
              <br>
              Players can watch the board at
              <input class="form-control"  value="/game/{{code}}" style="margin-top:10px;"
                     onclick="this.select();" readonly></input>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="container-fluid">
      <!-- Grid -->
      <div class="row">
        <div class="col-md-12">
          <table id="grid" style="margin:auto">
            <tr id="B-row">
              <td><div class="square" id="B"><h2 class="text-center">B</h2></div></td>
            </tr>
            <tr id="I-row">
              <td><div class="square" id="I"><h2 class="text-center">I</h2></div></td>
            </tr>
            <tr id="N-row">
              <td><div class="square" id="N"><h2 class="text-center">N</h2></div></td>
            </tr>
            <tr id="G-row">
              <td><div class="square" id="G"><h2 class="text-center">G</h2></div></td>
            </tr>
            <tr id="O-row">
              <td><div class="square" id="O"><h2 class="text-center">O</h2></div></td>
            </tr>
          </table>
          <script>
            // build board
            const LETTERS = ["B", "I", "N", "G", "O"];
            for (var r = 0; r < LETTERS.length; r++) {
              for (var i = 0; i < 15; i++) {
                const td = document.createElement('td');
                const div = document.createElement('div');
                const h2 = document.createElement('h2');
                const num = r * 15 + 1 + i;
                div.classList.add('square');
                {% if mode != 'player' %}
                div.classList.add('clickable');
                {% endif %}
                div.setAttribute('id', num);
                div.setAttribute('value', 0);
                h2.classList.add('text-center');
                h2.appendChild(document.createTextNode(num));
                div.appendChild(h2);
                td.appendChild(div);
                {% if mode == 'host' %}
                  td.onclick = function() {flip_square(num);};
                {% endif %}
                document.getElementById(LETTERS[r] + '-row').appendChild(td);
              }
            }
          </script>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1 id="last" style="font-size:100pt" class="text-center">&nbsp;</h1>
      </div>
    </div>

    <div class="container">

      {% if mode == "host" %}
      <br>
      <!-- buttons -->
      <div class="row">
        <div class="col-sm-3"></div>
        <!-- draw -->
        <div class="col-sm-3">
          <button type="button" class="btn btn-default btn-lg btn-block" id="draw" onclick="draw()">
              Draw
          </button>
        </div>
        <!-- clear -->
        <div class="col-sm-3">
          <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#clearModal">
            Clear
          </button>
        </div>
        <div class="col-sm-3"></div>
      </div>

      <!-- clear modal -->
      <div id="clearModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Clear Confirmation</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to clear?
              <br><br>
              <button type="button" class="btn btn-danger center-block" onclick="clear_board(); $('#clearModal').modal('hide')" width="50%">
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Player info -->
      <br><br><br>
      <div class="row">
        <div class="col-sm-12">
          <br>
          <div class="input-group" style="width: 150px; margin-left: auto">
            <input id="num-cards" class="form-control" placeholder="Number of Cards" type="number" value="1"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-block btn-default center-block" onclick="deal()">Deal</button>
            </span>
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Player</th>
            <th>Cards</th>
            <th class="text-right">
              <button class="btn btn-danger btn-xs" onclick="remove_players()">Delete</button>
              <button class="btn btn-success btn-xs" onclick="check_for_bingo()">Check for Bingo</button>
              <input id="select-all" type="checkbox" style="margin-left: 10px;" onclick="const cbs=document.getElementsByName('player');for(var i = 0; i < cbs.length;i++){cbs[i].checked=this.checked;}"></input>
            </th>
          </tr>
        </thead>
        <tbody id="players"></tbody>
      </table>

      <!-- bingo check modall -->
      <div id="bingoCheckModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Bingo Check</h4>
            </div>
            <div class="modal-body">
              <ul class="list-group" id="check-bingo-list"></ul>
            </div>
          </div>
        </div>
      </div>




      {% endif %}



      <!-- on an interval, query the board and last called information -->
      <script>

        var last_string = '';
        var board_string = '';

        function update_board() {
          $.ajax({
            url: '/game_access/board',
            data: {'code':'{{ code }}'},
            type: 'POST',
            cache: false,
            success: function(response) {
              if (response.success == 'true') {
                if (response.last != last_string) {
                  last_string = response.last;
                  document.getElementById('last').innerHTML = response.last;
                }
                if (response.board != board_string) {
                  board_string = response.board;
                  const string_board_array = response.board.split('');
                  board = [];
                  left = [];
                  for (var i = 0; i < 75; i++) {
                    board.push(Number(string_board_array[i]));
                    if (string_board_array[i] == '0') {
                      left.push(i + 1);
                    }
                    document.getElementById(i + 1).setAttribute('value',string_board_array[i]);
                  }
                  document.getElementById('draw').disabled = left.length == 0;
                }
              }
            },
            error: function(error){
              console.log(error);
            }
          });
        }


        var board = [];
        var left = [];

        update_board();

        setInterval(function() {
          update_board();
        }, 2000);



      </script>



      {% if mode == 'host' %}

      <!-- square handling -->
      <script>
        function flip_square(num) {
          board[num - 1] = 1 - board[num - 1];
          left = left.filter(function(ele) {
              return ele != num;
          });
          $.ajax({
            url: '/host_access/flip_square',
            data: {
              'code':'{{ code }}',
              'num':num
            },
            type: 'POST',
            cache: false,
            success: function(response) {
              if (response.success == 'true') {
                update_board();
              } else {
                console.log(response.error);
              }
            },
            error: function(error){
              console.log(error);
            }
          });
        }

        document.body.onkeyup = function(e){
          if (left.length != 0 && e.keyCode === 68) {
              draw();
          }
        }

        function draw() {
          const r = Math.floor(Math.random() * left.length);
          flip_square(left[r]);
          if (left.length == 0) {
            document.getElementById('draw').disabled = true;
          }
        }

        function clear_board() {
          $.ajax({
            url: '/host_access/clear_board',
            data: {'code':'{{ code }}'},
            type: 'POST',
            cache: false,
            success: function(response) {
              if (response.success == 'true') {
                update_board();
                update_last();
              }
            },
            error: function(error){
              console.log(error);
            }
          });
        }

      </script>

      <!-- player info -->
      <script>
        const players = document.getElementById('players');

        var player_dict_string = '';

        function update_players() {
          $.ajax({
            url: '/host_access/get_players',
            data: {'code':'{{ code }}'},
            type: 'POST',
            cache: false,
            success: function(player_dict) {
              if (player_dict_string != JSON.stringify(player_dict)) {
                player_dict_string = JSON.stringify(player_dict);
                document.getElementById('select-all').checked = false;
                while (players.firstChild) {
                  players.removeChild(players.firstChild);
                }
                for (var player in player_dict) {
                  const tr = document.createElement('tr');
                  const player_name_col = document.createElement('td');
                  const cards_col = document.createElement('td');
                  const button_col = document.createElement('td');
                  player_name_col.appendChild(document.createTextNode(player));
                  for (var i = 0; i < player_dict[player].length; i++) {
                    const a = document.createElement('a');
                    a.href = "/card/" + player_dict[player][i];
                    a.appendChild(document.createTextNode(player_dict[player][i]));
                    cards_col.appendChild(a);
                    if (i < player_dict[player].length - 1) {
                      a.appendChild(document.createTextNode(", "));
                    }
                  }
                  button_col.classList = "text-right";
                  const input = document.createElement('input');
                  input.name = "player";
                  input.value = player;
                  input.type = "checkbox";
                  button_col.appendChild(input);
                  tr.appendChild(player_name_col);
                  tr.appendChild(cards_col);
                  tr.appendChild(button_col);
                  players.appendChild(tr);
                }
              }

            },
            error: function(error){
              console.log(error);
            }
          });
        }

        function get_checked_players() {
          const cbs = document.getElementsByName('player');
          var players = [];
          for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].checked) {
              players.push(cbs[i].value);
            }
          }
          return players;
        }


        function remove_players() {
          $.ajax({
            url: '/host_access/remove_players',
            data: {
              'code':'{{ code }}',
              'players':get_checked_players().join(",")
            },
            async:true,
            type: 'POST',
            cache: false,
            success: function(response) {
              update_players();
            },
            error: function(error){
              console.log(error);
            }
          });
        }

        update_players();
        setInterval(update_players,2000);
      </script>

      <!-- dealing -->
      <script>
        function deal() {
          $.ajax({
            url: '/host_access/deal',
            data: {
              'code':'{{ code }}',
              'num_cards':document.getElementById('num-cards').value
            },
            type: 'POST',
            cache: false,
            success: function(response) {
              update_players();
            },
            error: function(error){
              console.log(error);
            }
          });
        }
      </script>

      <script>
        function check_for_bingo() {
          const cps = get_checked_players();
          if (cps.length != 0) {
            $.ajax({
              url: '/host_access/check_for_bingo',
              data: {
                'code':'{{ code }}',
                'players':cps.join(",")
              },
              async:true,
              type: 'POST',
              cache: false,
              success: function(response) {
                console.log(response);
                const ul = document.getElementById('check-bingo-list');
                while (ul.firstChild) {
                  ul.removeChild(ul.firstChild);
                }
                for (var player in response.bingo_dict) {
                  const li = document.createElement('li');
                  li.classList.add('list-group-item');
                  li.appendChild(document.createTextNode(player));
                  for (var i = 0; i < response.bingo_dict[player].length; i++) {
                    const cardID = response.bingo_dict[player][i][0];
                    const types = response.bingo_dict[player][i][1];
                    const span = document.createElement('span');
                    span.setAttribute('data-toggle','tooltip');
                    span.setAttribute('title',types.join(', '));
                    span.classList.add('badge');
                    span.appendChild(document.createTextNode(cardID));
                    li.appendChild(span);
                  }
                  ul.appendChild(li);
                }
                $("#bingoCheckModal").modal();
                $('[data-toggle="tooltip"]').tooltip();
              },
              error: function(error){
                console.log(error);
              }
            });
          }
        }
      </script>


      {% endif %}












      </div>


    </div>






  <script>


    //
    // function check() {
    //   var alreadyChosenNumpy = [];
    //   cardID = document.getElementById('cardID').value;
    //
    //   if (cardID != "" && alreadyChosenNumpy.length != 0) {
    //
    //     var alreadyChosenStr = "" + alreadyChosenNumpy[0];
    //     for (i = 1; i < alreadyChosenNumpy.length; i++) {
    //       alreadyChosenStr = alreadyChosenStr + "&" + alreadyChosenNumpy[i];
    //     }
    //
    //     $.ajax({
    //       url: '/check',
    //       data: {alreadyChosenStr: alreadyChosenStr, cardID: cardID},
    //       type: 'POST',
    //       cache: false,
    //       success: function(response){
    //         console.log(response);
    //       },
    //       error: function(error){
    //         document.getElementById('create_error').innerHTML = "error";
    //         console.log(error);
    //       },
    //     });
    //   }
    // }
    //



    </script>

    <br><br><br><br>
    <br><br><br><br>
  </body>
</html>
